
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <h2>Create Program</h2>
    <!--Week slider bar-->
    <form action="generate" method="post">
        <fieldset>
            <legend>CHOOSE THE LENGHTH OF PROGRAM</legend>
            <div class="horizontally-stacked-slider">
                <input type="range" name="slider" for="result"
                       min="4" max="16" steps="1" value="16" oninput="result.value=slider.value">
                <input type="number" class="result" name="result" for="slider"
                       min="4" max="16" oninput="slider.value=result.value">
                <!--submiting ['result value as length of week]-->
            </div>
        </fieldset>
        <div>
            <!--choose date/exercise-->
            <div class="vertically-stacked-slider">
                <fieldset>
                    <legend>CHOOSE DATE/EXERCISE</legend>
                    <table style="width:100%" border="1">
                        <tr>
                            <th>DAY</th>
                            <th>Main Exercise</th>
                            <th>Assistense1</th>
                            <th>Assistense2</th>
                        </tr>
                        @{
                            string[] days = new string[7]
                            {"Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"};
                            foreach (var item in days)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" name="@item" id="@item" value="@item" />
                                        <b>@item</b>
                                    </td>
                                    <td>
                                        <select name="@item Select1" size="1" id="@item Select1">
                                            <option value="">- Please select an Exercise -</option>
                                            @foreach (var exercise in Model) 
                                            {
                                                <option value="@exercise.exerciseName"> - @exercise.exerciseName -</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select name="@item Select2" size="1" id="@item Select2">
                                            <option value="">- Please select an Exercise -</option>
                                            @foreach (var exercise in Model)
                                            {
                                                <option value="@exercise.exerciseName"> - @exercise.exerciseName -</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select name="@item Select3" size="1" id="@item Select3">
                                            <option value="">- Please select an Exercise -</option>
                                            @foreach (var exercise in Model)
                                            {
                                                <option value="@exercise.exerciseName"> - @exercise.exerciseName -</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                            };
                        }
                    </table>
                </fieldset>
            </div>
            <!--choose intensity-->
            <div class="horizontally-stacked-slider">
                <fieldset>
                    <legend>WHAT IS YOUR GOAL / INTENSITY</legend>

                    <input type="range" name="slider2" for="result2"
                           min="1" max="10" steps="1" value="10" oninput="result2.value=slider2.value">
                    <div class="horizontally-stacked-slider">
                        <select name="SelectGoal" size="1" id="SelectGoal">
                            <option value="">- Please select your goal -</option>
                            <option value="maintain">Maintain Muscle</option>
                            <option value="buildmuscle">Build Muscle</option>
                            <option value="buildstrength">Build Strength</option>
                        </select>
                        <input type="number" class="result" name="result2" for="slider2"
                               min="1" max="10" oninput="slider2.value=result2.value">
                        <input type="submit" value="Generate Training" id="submit1">
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</body>





